                                                                                              
cas                                                                                                      
*.exe                                                                                                    
                                                                                                                                                                                                
.cas/                                                                                                    
data/                                                                                                    
                                                                                                                                                                                                    
.idea/                                                                                                   
.vscode/                                                                                                 
                                                                                                                                                                                                            
.git/                                                                                                    
.gitignore                                                                                               
                                                                                                                                                                                                      
*.txt                                                                                                    
*.test                                                                                                   
                                                                                                          
*.md
FILE_STRUCTURE.txt

*.pem  